.model {
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}

.order {
  text-align: center;
  font-family: Montserrat;

  margin-top: 8px;
}