.image {
  height: 270px;
  width: 250px;
  object-fit: cover;
  background-color: lightgray;
}

.small-picture {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 0;
  margin-left: 8px;
}

.name {
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 8px;
  font-size: 18px;
  font-weight: bold;
}

.card {
  border: 0px solid;
  width:fit-content;
  margin: 20px 20px;
  box-shadow: 0px 1px 15px rgb(0, 0, 0, 0.2);
}

.card-picture-mutual { 
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  margin-bottom: 4px;
}

.card-mutual {
  margin-left: 15px;
  color: rgb(103, 103, 103);
}

.add-button {
  background-color: #3771e1;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  border: 0;
  margin-left: 8px;
  margin-bottom: 10px;
}

.grid-test {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body {
  font-family: Arial;
}