.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.channel-picture {
  display: flex;
  flex-direction: column;
  position: relative;
}

.channel-tooltip {
  position: absolute;
  bottom: -50px;
  display: flex;
  padding: 10px 10px;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: left;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
  border-radius: 6px;
  opacity: 0;

  pointer-events: none;
  white-space: nowrap;

  transition: opacity 0.15s;
}

.profile-picture-div:hover .channel-tooltip{
  opacity: 1;
}

.profile-picture-div {
  width: fit-content;
  border-radius: 46px;
}

.channel-tooltip-info {
  margin-left: 8px;
}
.channel-tooltip-name {
  font-weight: bold;
  font-size: 14px;
}

.channel-tooltip-subscribers {
  font-size: 12px;
  color: gray;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.profile-picture-test {
  width: 56px;
  border-radius: 46px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px){
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: 500;
  font-size: 12px;
  padding: 3px 3px 3px 3px;
  border-radius: 2px;
}